<style>
	h1 { color: whitesmoke;
  text-shadow: 2px 2px 5px white;
}

h4 {color: white;
}
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 350px;
  margin: 10px;
}
 
#sm_picture{
	margin:10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 150px
}

#title {
	margin-top: 10px; 
	margin-left: 100px; 
	float: left
}

#g_title {
	margin-right: 150px; 
	float: right;
}

#header_sm {
	margin-top: 10px; 
	float: left;
}

#wrapper{
	background:whitesmoke;
}

#art_content{
	background: #F5FFFA;
}
 
#comment_box {
	margin: 5px 5px;
}
#comm {
	float:left;
}
#commr {
	float: right;
}
 
.mb-5, .my-5 {
    margin-bottom: 1rem!important;
}
</style>
